@using TravelAgency.ViewModels.Models.LandmarkModels
@model IPagedList<GetAllLandmarksViewModel>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
	ViewData["Title"] = "All Landmarks";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>@ViewData["Title"]</h2>
	<form method="get" action="@Url.Action("Index", "Landmark")">
		<input type="text" name="search" value="@ViewBag.CurrentFilter" placeholder="Search landmarks..." class="form-control" style="width: 300px; display: inline-block;" />
		<input type="submit" value="Search" class="btn btn-primary" />
	</form>
	<a asp-area="Admin" asp-controller="Landmark" asp-action="Add" class="btn btn-primary">
		Add Landmark
	</a>

</div>
<hr />

<div class="row text-center">
	@foreach (var landmark in Model)
	{
		<div class="row align-items-center mb-4 py-3" style="border-bottom: 1px solid #ccc;">
			<div class="col-md-2 text-center">
				@if (!string.IsNullOrEmpty(landmark.ImageUrl))
				{
					<img src="@landmark.ImageUrl" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="@landmark.Name" />
				}
				else
				{
					<img src="~/images/default-image.jpg" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="No Image Available" />
				}
			</div>
			<div class="col-md-4 text-start">
				<h5 class="mb-0">Name: @landmark.Name</h5>
				<p class="mb-0"><small>Destination: @landmark.Destination</small></p>
			</div>
			<div class="col-md-4 text-end d-flex flex-column gap-2">
				<form asp-area="Admin" asp-controller="Landmark" asp-action="Edit" asp-route-id="@landmark.Id" method="get">
					<button type="submit" class="btn btn-warning fw-bold w-50">
						Edit
					</button>
				</form>
				<form asp-area="Admin" asp-controller="Landmark" asp-action="Delete" asp-route-id="@landmark.Id" method="get">
					<button type="submit" class="btn btn-danger fw-bold w-50">
						Remove
					</button>
				</form>
			</div>


		</div>
	}
</div>
@{
	ViewBag.PaginationAction = "Index";
	ViewBag.PaginationController = "Landmark";
}

@Html.Partial("_Pagination", Model)
